# Domana Backend (.env.example)
PORT=4000
JWT_SECRET=change-me
RATE_MAX=100
RATE_WINDOW=1 minute
DATABASE_URL=postgresql://domana:domana@127.0.0.1:5432/domanadev?schema=public
SHADOW_DATABASE_URL=postgresql://domana:domana@127.0.0.1:5432/domana_shadow?schema=public
PRISMA_MIGRATE_SHADOW_DATABASE_URL=postgresql://domana:domana@127.0.0.1:5432/domana_shadow?schema=public
