# Mobile env (Expo reads EXPO_PUBLIC_* at runtime)
EXPO_PUBLIC_API_BASE_URL=http://localhost:4000
# Android emulator uses a special loopback:
EXPO_PUBLIC_API_BASE_URL_ANDROID=http://10.0.2.2:4000
EXPO_PUBLIC_MAPBOX_TOKEN=YOUR_MAPBOX_TOKEN
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_APP_ENV=development
